<h1>Messages#reply</h1>
<p>Find me in app/views/messages/reply.html.erb</p>
<form>
  UserName:
  <input type="text" name="messages">
  <br>
  Mobile No:
  <input type="tel" name="to_number">
  <input type="submit" value="Submit">
</form>
